* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	--white: rgb(254, 255, 255);
	--black: #2a2b2a;
	--bg: #f5f5f5;
	--primary1: #cdc9c9;
	--primary2: rgba(255, 222, 214, 0.3);
	--primary3: rgba(255, 222, 214, 0.5);
	--hover: #ff6347;
	/* --secondary1: #c2185b; */
	--secondary1: rgba(108, 117, 125, 1);
	--secondary2: #ffded6;
	--text1: #3e2723;
	--text2: #212121;
}

body {
	position: relative;
	font-family: 'Crimson Text', serif;
}

.header {
	height: 13.75rem;
}

/* nav bar section */

#logo {
	font-family: 'Crimson Text', serif;
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1;
}

.navbar-brand {
	font-weight: 700;
	font-size: 3rem;
	color: #333;
	letter-spacing: 1px;
	/* transform: rotate(-10deg); */
	&:hover {
		transform: scale(1.1);
		transition: transform 0.25s ease; /* 1 second for a slower effect */
	}
	/* Center and rotate the logo */
}

.dropdown-toggle {
	/* position: relative; */
}

/* .dropdown {
	position: absolute !important;
	top: 0;
} */

.dropdown > li > a:hover {
	background-color: var(--secondary2);
	transition: all 0.25s ease-in;
}

.navbar {
	/* background-color: #ffffff; */
	padding: 1rem;
	position: relative;
	display: flex;
	align-items: center !important;
	justify-content: space-between;
	position: sticky;
	top: 0;
	/* background-color: rgb(254, 255, 255); */
	width: 100%;
	flex: 1 1;
	/* border:1px solid red; */
}

#mobile-view {
	display: none !important;
	background-color: var(--white);
	z-index: 999;
	/* border: 1px solid red; */
}

#mobile-view > div {
	display: flex;
	justify-content: flex-end;
}

#mobile-view > div > button > span {
	background-color: var(--white);
	color: var(--black);
	align-self: flex-end !important;
}

.navbar-wrapper {
	margin: 0 auto;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
}
/* Social icons container */
.social-icons {
	display: flex;
	gap: 1rem;
}

.top-bar {
	background-color: var(--secondary2);
	height: 30%;
	display: flex;
	align-items: center;
}

.top-bar > form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	margin: 0 auto;
}

@media (max-width: 991px) {
	.top-bar > form {
		width: 100%;
		justify-content: center;
		height: 100%;
	}
	.top-bar > form > label {
		display: none;
	}
	.navbar {
		display: none;
	}
	#mobile-view {
		display: block !important;
	}
}
.search-bar {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0.7rem 0.7rem;
	height: 100%;
	width: 20%;
	/* border: 1px solid var(--white); */
	border-radius: 5px;
	background-color: var(--white);
	border: 1px solid rgba(255, 255, 255, 0.4);
}

.search-bar > i {
	cursor: pointer;
}

.search-bar > input {
	outline: none;
	border: none;
	text-transform: capitalize;
	/* padding: 0.3rem; */
	width: 80%;
}
.search-bar > input:focus {
}

.search-bar > ::-webkit-input-placeholder {
	/* color: var(--black); */
}

.social-icons a {
	margin-left: 10px;
	color: #333;
	font-size: 1.5rem;
	text-decoration: none;
}

.social-icons a:hover {
	color: #ff6347;
	transition: all 0.3s ease-in-out;
	/* Tomato color on hover */
}

.navbar-toggler-icon {
	background-color: #333;
}

.nav-item {
	margin-right: 1rem;
	/* border: 1px solid red; */
}

.nav-link {
	font-size: 1.2rem;
	color: #333;
	font-weight: 600;
	/* border: 1px solid red; */
	&:hover {
		color: #ff6347;
	}
}

#drop-down__title {
	font-size: 1.2rem;
	color: #333;
	font-weight: 600;
	position: relative;
	&:hover {
		color: #ff6347;
		cursor: pointer;
	}
}

/* Make sure the navbar items are aligned properly */
.navbar-nv {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto !important;
}

@media (max-width: 767px) {
	.navbar-brand {
		font-size: 1.6rem;
	}

	.social-icons {
		top: -10px;
		right: 10px;
	}
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-bar {
	/* border:1px solid red; */
}

.main {
	height: calc(100dvh - 30dvh);
	background-color: var(--bg);
}

.section-wrapper {
	padding: 3rem 0;
}

.show-recipes-btn {
	/* letter-spacing: 0.3rem; */
	/* max-width: 20rem; */
	/* margin: 0 auto; */
	align-self: center;
	/* color: #ff6347; */
	color: var(--black);
	background-color: transparent;

	text-transform: uppercase;
	background-color: var(--primary2);
	padding: 1rem;
	font-weight: 600;
	&:hover {
		background-color: var(--secondary2);
		border: 2px solid var(--secondary2);
		transition: all 0.3s ease-in-out;
	}
}

.image-hover {
	aspect-ratio: 0.666;
	object-fit: cover;
	border-radius: 0;
	&:hover {
		transform: scale(1.01);
		transition: transform 0.2s ease-in-out;
	}
}

@media (max-width: 767px) {
	.image-hover {
		aspect-ratio: 0.9;
	}
}

.cards-header {
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	padding: 1rem;
	justify-content: center;
}

.card-title {
	color: var(--black);
}

h5 {
	width: fit-content;
	margin: 0 auto;
	&:hover {
		color: var(--hover);
		cursor: pointer;
	}
}

.card-box {
	/* width: 18rem; border: none; border-radius: 0; */
	/* width: 18rem; */
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.cards-wrapper {
	/* border: 1px solid red; */
	/* gap: 1rem; */
	width: 90%;
	margin: 0 auto;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	/* padding: 0;
        margin: 0; */
	/* justify-content: space-between; */
	/* gap: 1rem; */
	/* border: 1px solid red; */
}

.group-btn {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.group-btn > button {
	width: 17rem !important;
	height: 3rem;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.3rem;
}

.search {
	background-color: transparent;
	/* padding: 1rem; */
}

/* introduction section */

.intro-container {
	background-color: var(--primary2);
	/* height: 60vh; */
	width: 90%;
	margin: 0 auto;
	padding: 3rem;
}

.intro {
	display: flex;
	flex-direction: column;
	/* gap: 1rem; */
	/* height: 95%; */
	justify-content: space-between;
}
.intro > div > button {
	/* border: none; */
	background-color: var(--primary2);
	padding: 1rem;
	font-weight: 600;
	letter-spacing: 0.3rem;

	&:hover {
		background-color: var(--secondary2);
		border: 2px solid var(--secondary2);
		transition: all 0.3s ease-in-out;
		/* background-color: rgba(255, 222, 214, 0.7); */
	}
}

.image-container {
	border-radius: 50%;
	width: 200px;
	height: 200px; /* Set the height to match the width for a perfect circle */
	overflow: hidden; /* Ensures the image stays within the container */
	display: flex;
	justify-content: center;
	align-items: center; /* Centers the image within the container */
	background-color: transparent;
}

.image-container > img {
	width: 100%; /* Makes the image fill the container's width */
	height: 100%; /* Ensures the image's height matches the container's height */
	border-radius: 50%; /* Rounds the image itself to make it circular */
	object-fit: unset; /* Ensures the image maintains its aspect ratio */
}

/* pick of the week section */

.pick-wrapper {
	width: 90%;
	margin: 0 auto;
	background-color: var(--primary2);
}

.pick-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	/* border: 1px solid red; */
	padding: 3rem;
	/* text-align: ; */
}

.pick-description > h1 {
	font-weight: 700;
}
.pick-description > h4 {
	font-weight: 400;
	letter-spacing: 3px;
}

.custom-button {
	text-transform: uppercase;
	background-color: var(--primary2);
	padding: 1rem;
	font-weight: 600;
	/* letter-spacing: 0.3rem; */
	&:hover {
		background-color: var(--secondary2);
		border: 2px solid var(--secondary2);
		transition: all 0.3s ease-in-out;
	}
}

/* ingredients section */

.ingredients-wrapper {
	background-color: var(--primary2);
	width: 90%;
	margin: 0 auto;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.ingredients-wrapper > div > h2 {
	text-transform: uppercase;
}

.ingredients-container {
	row-gap: 0.5rem;
}

.image-box {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center; /* Centers the image within the container */
	position: relative; /* Makes the container the reference point for absolute positioning */
	z-index: 1;
	background-color: white;
	/* border: 1px solid var(--black); */
	&:hover {
		transform: scale(1.1);
		transition: all 0.3s ease-in-out;
	}
}
.image-box > img {
	/* vertical-align: middle; */
	height: 60%;
	width: 60%;
}

.ingredient-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
	/* background: transparent; */
	/* background-color: rgba(108, 117, 125, 0.1); */
	color: var(--white); /* White text color */
	font-size: 20px; /* Text size */
	z-index: 99; /* Ensures overlay is on top of the image */
	&:hover {
		/* background-color: rgba(108, 117, 125, 0.3); */
		/* background-color: var(--white); */
		background-color: rgba(0, 0, 0, 0.4);

		transition: all 0.3s ease-in-out;
	}
}

.ingredient-overlay h6 {
	margin: 0; /* Removes default margin */
	text-align: center; /* Centers the text */
	text-transform: uppercase;
}

.circle-container {
	display: flex;
	justify-content: center;
}

.bg-image__wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center; /* Centers the content inside the wrapper */
	flex: 1;
	height: 100%;
	width: 100%;
	/* border: 2px solid red; */
	background-image: url('../assets/images/chinese-eggplant.jpg'); /* Set background image */
	background-size: cover; /* Ensures the image covers the entire area */
	background-position: center; /* Centers the image */
	background-repeat: no-repeat; /* Prevents the image from repeating */
	z-index: 1;
}

.subscribe {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	/* background-color: var(--primary1); */
	background-color: rgba(0, 0, 0, 0.5);
	/* width: 90%; */
	padding: 3rem;
	margin: 0 auto;
	z-index: 2;
}

@media (max-width: 767px) {
	.subscribe-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		/* border: 1px solid red; */
	}

	.subscribe-container > input {
		width: 100% !important;
		border: none !important;
		padding: 1rem;
		border-radius: 5px !important;
	}
}

/* footer section */
/* Custom Footer CSS */
.footer {
	background-color: #333; /* Dark background like Epicurious */
	color: white;
	padding: 3rem 3rem;
}

.footer a {
	color: #ccc;
	text-decoration: none;
}

.footer a:hover {
	/* color: #ff6347; */
}

.footer .social-icons a {
	margin: 0 15px;
	font-size: 24px;
	color: #ccc;
}

.footer .social-icons a:hover {
	color: #ff6347;
}

.footer .social-icons {
	margin-bottom: 20px;
}

.footer h5 {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: bold;
}

/* .footer .subscribe-form input[type='email'] {
	border-radius: 20px;
	padding: 10px;
	border: none;
	margin-right: 10px;
} */

.footer .footer-bottom {
	background-color: #222;
	color: #bbb;
	padding: 20px 0;
	text-align: center;
}

.list-box {
	/* border: 1px solid red; 	 */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

/* #icons { */
/* border: 1px solid red; */
/* } */

@media (max-width: 767px) {
	#icons {
		display: flex;
		/* border: 1px solid red; */
		flex-direction: row !important;
	}
}

.list-box > li:hover {
	/* border-bottom: 2px solid #bbb;  */
	/* transition: border-bottom 0.3s ease; */
	text-decoration: underline;
}

/* Mobile View */
/* @media (max-width: 768px) {
	.top-bar {
		flex-direction: column;
	}

	.social-icons {
		margin-top: 0.5rem;
	}

	.navbar {
		flex-direction: column;
		gap: 1rem;
	}

	.navbar-nv {
		width: 100%;
		gap: 0.5rem;
	}

	.dropdown-menu {
		position: relative;
	}
} */
